/* Wrapper */
.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* left */
.wrapper--left {
    color: white;
    background-color: #030f32e8;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30%;
}
/* right */
.wrapper--right {
    background-color: rgb(244, 228, 209);
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Header */
.header {
    text-align: center;
}
.header__title {
    color: rgba(0, 204, 255, 0.84);
    text-transform: uppercase;
}
.aside__code-block {
    color: black;
    border-radius: 10px;
    background-color: lightgray;
}
